Import and format data by semicolon

In [1]:
import pandas as pd

df = pd.read_excel (r'C:\Users\domin\Desktop\free time\LTG\Homework.xlsx', sheet_name='LTG_JOB')



names =  df.columns.str.split(";")
df[[df.columns[0], names[0][1], names[0][2], names[0][3]]] = df[df.columns[0]].str.split(';',expand=True)
df = df.rename(columns={df.columns[0]: names[0][0]})
# print (df.columns.str.split(';'))
# print (names[0])
# print (df.columns[0])
print (df)

                 ID:date              job_title:job_location  hired  \
0         11578773:36910       BUSINESS DATA ANALYST:Vilnius   TRUE
1         11613549:36910       CLINICAL DATA ANALYST:Vilnius  FALSE
2         11680840:36910        DATA QUALITY ANALYST:Vilnius  FALSE
3         11809979:36910        DATA QUALITY ANALYST:Vilnius  FALSE
4         11836481:36910             QA DATA ANALYST:Vilnius  FALSE
...                  ...                                 ...    ...
32591  11614892:12/31/19       BUSINESS DATA ANALYST:Vilnius  FALSE
32592  11666676:12/31/19       BUSINESS DATA ANALYST:Vilnius  FALSE
32593  11688936:12/31/19  MANUFACTURING DATA ANALYST:Vilnius  FALSE
32594  11755877:12/31/19      ECOMMERCE DATA ANALYST:Vilnius   TRUE
32595  11814839:12/31/19        PRODUCT DATA ANALYST:Vilnius  FALSE

      easy_apply:Manager ID
0                FALSE:1156
1                FALSE:1156
2                FALSE:1156
3                 TRUE:1156
4                FALSE:1156
...                     ...
32591            FALSE:5632
32592            FALSE:5632
32593            FALSE:5632
32594             TRUE:5632
32595            FALSE:5632

[32596 rows x 4 columns]

Split data by collon

In [2]:
df_copy = df
for name in names[0]:
    new_name = name.split(":")
    if len(new_name) > 1:
        df_copy[[name, new_name[1]]] = df_copy[name].str.split(':',expand=True)
        df_copy = df_copy.rename(columns={name: new_name[0]})
        
df = df_copy
print(df)

             ID                   job_title  hired easy_apply      date  \
0      11578773       BUSINESS DATA ANALYST   TRUE      FALSE     36910
1      11613549       CLINICAL DATA ANALYST  FALSE      FALSE     36910
2      11680840        DATA QUALITY ANALYST  FALSE      FALSE     36910
3      11809979        DATA QUALITY ANALYST  FALSE       TRUE     36910
4      11836481             QA DATA ANALYST  FALSE      FALSE     36910
...         ...                         ...    ...        ...       ...
32591  11614892       BUSINESS DATA ANALYST  FALSE      FALSE  12/31/19
32592  11666676       BUSINESS DATA ANALYST  FALSE      FALSE  12/31/19
32593  11688936  MANUFACTURING DATA ANALYST  FALSE      FALSE  12/31/19
32594  11755877      ECOMMERCE DATA ANALYST   TRUE       TRUE  12/31/19
32595  11814839        PRODUCT DATA ANALYST  FALSE      FALSE  12/31/19

      job_location Manager ID
0          Vilnius       1156
1          Vilnius       1156
2          Vilnius       1156
3          Vilnius       1156
4          Vilnius       1156
...            ...        ...
32591      Vilnius       5632
32592      Vilnius       5632
32593      Vilnius       5632
32594      Vilnius       5632
32595      Vilnius       5632

[32596 rows x 7 columns]

 Format dates, assumtion is they are either mm/dd/yy or in 5 digit format

In [3]:
from datetime import datetime, timedelta

for index in df.index:
    if len(df.loc[index, 'date']) == 5:
        temp = df.loc[index, 'date']
        date = (datetime.utcfromtimestamp(0) + timedelta(int(temp))).strftime("%m/%d/%y")
        df.loc[index, 'date'] = date
#         print(df.loc[index, 'date'])
    else:
        test = df.loc[index, 'date'].split('/')
        if len(test) != 3:
            print("Error")
print(df)

             ID                   job_title  hired easy_apply      date  \
0      11578773       BUSINESS DATA ANALYST   TRUE      FALSE  01/21/71
1      11613549       CLINICAL DATA ANALYST  FALSE      FALSE  01/21/71
2      11680840        DATA QUALITY ANALYST  FALSE      FALSE  01/21/71
3      11809979        DATA QUALITY ANALYST  FALSE       TRUE  01/21/71
4      11836481             QA DATA ANALYST  FALSE      FALSE  01/21/71
...         ...                         ...    ...        ...       ...
32591  11614892       BUSINESS DATA ANALYST  FALSE      FALSE  12/31/19
32592  11666676       BUSINESS DATA ANALYST  FALSE      FALSE  12/31/19
32593  11688936  MANUFACTURING DATA ANALYST  FALSE      FALSE  12/31/19
32594  11755877      ECOMMERCE DATA ANALYST   TRUE       TRUE  12/31/19
32595  11814839        PRODUCT DATA ANALYST  FALSE      FALSE  12/31/19

      job_location Manager ID
0          Vilnius       1156
1          Vilnius       1156
2          Vilnius       1156
3          Vilnius       1156
4          Vilnius       1156
...            ...        ...
32591      Vilnius       5632
32592      Vilnius       5632
32593      Vilnius       5632
32594      Vilnius       5632
32595      Vilnius       5632

[32596 rows x 7 columns]

This results in date (2071), which does not make sense, and I would usually remove it. But since it is not specified what those 5 digits mean, I left it. I am doing this over the weekend, if it was a workday I would have asked.

Also add additional field of job_country

In [4]:
locations = {
    "Vilnius": "LT",
    "Kaunas": "LT",
    "Berlynas": "DE",
    "Hanoveris": "DE",
    "KlaipÄ—da": "LT",
    "Liublinas": "PL",
    "PaneveÅ¾ys": "LT",
    "Riga": "LV",
    "Ryga": "LV", #possible duplicate
    "Talinas": "EST",
    "Utena": "LT",
    "VarÅ¡uva": "PL",
    "Viena": "AT",
    "Warsaw": "PL",  #possible duplicate
    "Hanover": "DE" #possible duplicate
}
df.insert(5, "job_country", True)

for index in df.index:
    location = df.loc[index, 'job_location'].split(",")
    country = locations.get(location[0], "City not found")
    if country == "City not found":
        print(location[0])
        print(country)
    else:
        if location[0] == "Warsaw":
            location[0] = "VarÅ¡uva"
        if location[0] == "Riga":
            location[0] = "Ryga"
        if location[0] == "Hanover":
            location[0] = "Hanoveris"
        df.loc[index, 'job_location'] = location[0]
        df.loc[index, 'job_country'] = country
        
print(df)

             ID                   job_title  hired easy_apply      date  \
0      11578773       BUSINESS DATA ANALYST   TRUE      FALSE  01/21/71
1      11613549       CLINICAL DATA ANALYST  FALSE      FALSE  01/21/71
2      11680840        DATA QUALITY ANALYST  FALSE      FALSE  01/21/71
3      11809979        DATA QUALITY ANALYST  FALSE       TRUE  01/21/71
4      11836481             QA DATA ANALYST  FALSE      FALSE  01/21/71
...         ...                         ...    ...        ...       ...
32591  11614892       BUSINESS DATA ANALYST  FALSE      FALSE  12/31/19
32592  11666676       BUSINESS DATA ANALYST  FALSE      FALSE  12/31/19
32593  11688936  MANUFACTURING DATA ANALYST  FALSE      FALSE  12/31/19
32594  11755877      ECOMMERCE DATA ANALYST   TRUE       TRUE  12/31/19
32595  11814839        PRODUCT DATA ANALYST  FALSE      FALSE  12/31/19

      job_country job_location Manager ID
0              LT      Vilnius       1156
1              LT      Vilnius       1156
2              LT      Vilnius       1156
3              LT      Vilnius       1156
4              LT      Vilnius       1156
...           ...          ...        ...
32591          LT      Vilnius       5632
32592          LT      Vilnius       5632
32593          LT      Vilnius       5632
32594          LT      Vilnius       5632
32595          LT      Vilnius       5632

[32596 rows x 8 columns]

Done in two for loops and not one for clarity

In [5]:
df.insert(8, "day_of_hire", True)
df.insert(9, "month_of_hire", True)
df.insert(10, "year_of_hire", True)
for index in df.index:
    full_date = df.loc[index, 'date'].split("/")
    day_of_hire = full_date[1]
    month_of_hire = full_date[0]
    year_of_hire = full_date[2]
    df.loc[index, 'day_of_hire'] = day_of_hire
    df.loc[index, 'month_of_hire'] = month_of_hire
    df.loc[index, 'year_of_hire'] = year_of_hire

In [6]:
df.to_excel(r'C:\Users\domin\Desktop\free time\LTG\LTG_sorted.xlsx', index = False)